<html>
{{>head}}
<body>
{{>serverdata}}
{{>navbar}}
<div class="container-fluid">
    <div class="col-md-2">
        {{>leftbar}}
    </div>
    <div class="col-md-8" style="position: relative">
        <div>
            {{>suggestedPlaces}}
        </div>
        <div class="content-cntr">
            {{>newsfeed}}
        </div>
        {{>addTripForm}}
        {{>addEventForm}}
    </div>
    <div class="col-md-2">
        {{>rightbar}}
    </div>
</div>
</body>

</html>
