<html>
{{>head}}
<body>
{{>navbar}}
<div class="container-fluid">
    <div class="col-md-2">
       {{>leftbar}}

    </div>
    <div class="col-md-8">
        News Feed should come here {{user.userName}}
    </div>
    <div class="col-md-2">
        {{>rightbar}}
    </div>
</div>
</body>
<!--<script id="snippetTmpl" type="text/mustache-template">-->
        <!---->
<!--</script>-->

</html>
