<html>
{{>head}}
<body>

<div class="container-fluid index">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

        <div class="header">
            <h1>Tourister</h1>
        </div>

        <div class="upsells">
            <div class="upsell">
                <h2>Abdullah</h2>
            </div>
            <div class="upsell">
                <h2>heading # 2</h2>
            </div>
            <div class="upsell">
                <h2>heading # 3</h2>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="premium">
            <a href="/login">Sign up/Log in</a>
        </div>

        <!--<div class="examples">-->
        <!--<div class="example">-->
        <!--</div>-->
        <!--</div>-->
        <div class="intro">
            <p>
                Write some description here.
            </p>
            <p>
               Put some pictures here
            </p>
        </div>

    </div>
    <div class="col-md-2">

    </div>
</div>


</body>
</html>
