<html>

{{>head}}
<body>

<div class="container-fluid index">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

        <div id="d3Play">

        </div>

        <div class="header">
            <h1>Bay Area Interviews</h1>
        </div>

        <div class="upsells">
            <div class="upsell">
                <h2>Curated Interview Content</h2>
            </div>
            <div class="upsell">
                <h2>High Quality Explanations</h2>
            </div>
            <div class="upsell">
                <h2>Comprehensive Preparation</h2>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="premium">
            <a href="/login">Sign up/Log in for premium content</a>
        </div>

        <!--<div class="examples">-->
        <!--<div class="example">-->
        <!--</div>-->
        <!--</div>-->
        <div class="intro">
            <p>
                Another 'me too' website to prepare for tech interviews, is probably your first impression but it shouldn't be the last. Let us explain. A google search for interview questions
                would return you millions of results, however it shouldn't be about quantity of content rather quality of content. Our product includes only curated content with rich explanations and
                complete solution. We only add questions that have actually been asked by real interviewers and are likely to come up again. If you are an experienced developer, you'll be asked beyond
                performing the usual hula hoops through algorithmic/data-structure questions and we provide notes and contents just for that.
            </p>
            <p>
                Unfortunately most developers don't pay attention to preparing enough for tech job interviews and miss out not only on career advancement opportunities but also on financial payouts. With
                solid prep, you are likely to receive multiple offers and having competitive offers from companies can get you a pay hike or joining bonus hike of as much as $50,000 ! If our product can help
                you even half of that number, we think it is well-worth investing in :)
            </p>
        </div>

    </div>
    <div class="col-md-2">

    </div>
</div>


</body>
</html>
