<!-- ko with:LeftBarModel-->
<div class="actions">
    <div class="add-action" data-bind="click:OnAddTrip">
        <span class="glyphicon glyphicon-plus" style="cursor:pointer;"></span>
        <span class="">Add a Trip</span>
    </div>
    <div class="add-action" data-bind="click:OnAddEvent">
        <span class="glyphicon glyphicon-plus" style="cursor:pointer;"></span>
        <span class="">Add an Event</span>
    </div>
</div>
<!-- /ko -->