<!-- ko with: NewsFeedModel -->
<div class="newsfeed" data-bind="css:{'hide' : state() !== 'newsfeed'}">
    <h3>Latest Happenings ...</h3>

    <div style="overflow-y: scroll; height: 600px ">

        <!-- ko foreach: newsfeed -->
        <div style="width: 100%; height: 10em; background-color: darkkhaki; margin-bottom: 5px">
            <span>Trip to </span><span data-bind="text: $data.PlaceName"></span>
            <span> by </span> <span data-bind="text:$data.UserName"></span>
            <div>
                <p data-bind="text:$data.TripDescription">
                </p>
            </div>
            <span>Snapshots</span>
            <img style="width:200px; height: 5em;" data-bind="attr:{src:$parent.GetImageUrl($data.ImagePath)}"/>
        </div>
        <!-- /ko -->
    </div>
    <div>
        <button style="margin-left: auto; margin-right: auto; width:250px; display: block">Load More Activities</button>
    </div>
</div>
<!-- /ko -->