<!-- ko with: NewsFeedModel -->
<div class="newsfeed" data-bind="css:{'hide' : state() !== 'newsfeed'}">
    <h3>Travel Feed</h3>

    <div class="feedlet-cntr">

        <!-- ko foreach: newsfeed -->
        <div class="feedlet clearfix">
            <div class="title pull-left">
                <span data-bind="text:$data.UserName"></span> <span> recently visited </span>
                <span data-bind="text: $data.PlaceName"></span>
                <p data-bind="text:$data.TripDescription">
                </p>
                <div class="actions">
                    <a>Upcoming Events</a>
                    <span>|</span>
                    <a>Similar Trips</a>
                </div>
            </div>
            <div class="images pull-left">
                <img data-bind="attr:{src:$parent.GetImageUrl($data.ImagePath)}"/>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div>
        <button class="load-more-btn" data-bind="click:OnMoreBtn">Load More Activities</button>
    </div>
</div>
<!-- /ko -->