<!-- ko with:RightBarModel-->
<div class="rightbar">
    <h3>Events</h3>
    <!-- ko foreach:events -->
    <div class="event">
        <span class="title" data-bind="text:$data.EventName"></span>
        <span class="timestamp" data-bind="text:$data.EventTime"></span>
        <p class="description" data-bind="text:$data.EventDescription"></p>
        <button class="join">Join</button>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->