<div class="rightbar">
    <h3>Events</h3>
    <div class="event">
        <span class="title">Hike to Nanga Parbat</span>
        <span class="timestamp">12th Oct, 2015</span>
        <p class="description"></p>
        <button class="join">Join</button>
    </div>
</div>