<!-- ko with:SuggestedPlacesModel -->
<div class="suggestedPlaces clearfix">
    <a class="pull-left" data-bind="click:OnPrevClick">Prev</a>

    <div class="pull-left clearfix">
        <!-- ko foreach:list -->
        <div class="place pull-left clearfix">
            <div class="pull-left">
                <img data-bind="attr:{src: $parent.GetImageSrc($data.ImageName)}"/>
                <h3 data-bind="text:PlaceName"></h3>
            </div>
            <div class=" pull-left description">
                <p data-bind="text:PlaceDescription"></p>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <a class="pull-left" data-bind="click:OnNextClick">Next</a>
</div>
<!-- /ko -->
