<!-- ko with:SuggestedPlacesModel -->
<div class="suggestedPlaces clearfix">
    <a class="pull-left" data-bind="click:OnPrevClick">Prev</a>

    <div class="pull-left clearfix">
        <!-- ko foreach:list -->
        <div class="place pull-left clearfix">
            <div class="pull-left" style="width: 30%">
                <img data-bind="attr:{src: $parent.GetImageSrc($data.ImageName)}"/>
            </div>
            <div class=" pull-left" style="width: 70%">
                <h3 data-bind="text:PlaceName"></h3>
                <p class="description" data-bind="text:PlaceDescription"></p>
            </div>
            <div class="follow" data-bind="click:$parent.FollowPlace">
                <a class="glyphicon glyphicon-heart heart"><span>follow</span></a>
            </div>

        </div>
        <!-- /ko -->
    </div>

    <a class="pull-left" data-bind="click:OnNextClick">Next</a>
</div>
<!-- /ko -->
