.rightbar{

  h3{
    text-align: center;
  }

  .event{
    background-color: darkseagreen;
    border:2px solid white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
//    height: 350px;
    padding: 7px 5px;

    .title{
      color:#ffffff;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description{
      color:azure;
    }
  }
}